
.container-fluid{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 175px,1fr;
    grid-template-rows: 65px  1fr;
    height: 100vh;
    width: 100%;
}

.navbar{
    grid-column: span 6;
    background-color: rgb(17, 66, 122);
}

.sidebar{
    background-color: rgb(17, 66, 122);
}
.main-content{
    background-color: white;
}